.main {
  height: 20rem;
  width: 22.5%;
  display: flex;
  flex-direction: column;
}

.list-group{
  width: 100%;
  margin-bottom: 0;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}

.list-item-side {
  max-width: 95%;
  margin: 7px auto 10px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  border: 1px solid darken($off-white, 7%);
  color: $dark-grey;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $light-grey;
  }
}

.list-item-data {
  cursor: pointer;
  padding: $s-size;
  width: 80%;
}

.list-item-data__text {
  word-break: break-all;
  &:disabled {
    cursor: default;
  }
}

.list-item--message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $grey;
  padding: $m-size;
}

